@using Microsoft.AspNetCore.Identity
@model KNN.Models.IndexViewModel
 

@{
    ViewData["Title"] = "Episodes";
}

<h1>Episodes</h1>
 
<div class="row">
    @foreach (var blog in Model.Blogs)
    {
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="@Url.Content("~/UserFiles/Blogs/"+@blog.Id+"/HeaderImage.jpg")" class="card-img-top">
                <div class="card-body">
                    <div class="row" style="margin: 0px auto 10px 0px;">
                        <div><h5 class="card-title mb-0">@blog.Title</h5></div>
                        <div class="ml-auto mr-3">
                            <i class="fas @(blog.Published ? "fa-eye" : "fa-eye-slash")" style="color: @(blog.Published ? "deepskyblue" : "orangered")"></i>
                        </div>
                    </div>
                    <div class="row ml-0">
                        <div><i class="fas fa-calendar-alt" style="color: gray"></i></div>
                        <p class="text-muted ml-3 mb-0">Last updated on: @blog.UpdatedOn.ToString()</p>
                    </div>
                    <div class="row ml-0" style="bottom: 0;">
                        <div><i class="fas fa-comment" style="color: gray"></i></div>
                        <p class="text-muted ml-3 mb-0">  comments</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <a asp-controller="Blogs" asp-action="Index" asp-route-id="@blog.Id" class="btn btn-primary">
                                <i class="fa fa-arrow-circle-right"></i> View
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
